<div class="main">
    <div class="center">
        <div class="title">
            <span>Counter</span>
        </div>
        <div class="counter">
            Count : {{(count$|async)}}
        </div>
        <div class="button">
            <app-counter-button [buttonType]="'Increment'"></app-counter-button>
            <app-counter-button [buttonType]="'Decrement'"></app-counter-button>
            <app-counter-button [buttonType]="'Reset'"></app-counter-button>
        </div>
        <div>

        </div>
    </div>
</div>